{% extends "base.html.twig" %}
{% block body %}

<h1>oihjjzn</h1>
<a href="{{path('app_some',{'a':7,'b':3})}}">somme</a><br>
<a href="{{path('app_sous',{'a':7,'b':3})}}">soustraction</a>


 
    
{% endblock %}